database.driver=com.mysql.jdbc.Driver
database.name=mysql
database.url=jdbc:mysql://${EJBCA_DATABASE_HOST}:${EJBCA_DATABASE_PORT}/${EJBCA_DATABASE_NAME}?characterEncoding=UTF-8
database.username=${EJBCA_DATABASE_USERNAME}
database.password=${EJBCA_DATABASE_PASSWORD}
